# Importing libraries

In [1]:
# importing libraries for loading and preprocessing data
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)

2.2.3

In [3]:
print(np.__version__)

2.1.3

# Reading, Loading and copying a dataset

In [4]:
sample_data = (pd.read_csv("Datasets/Iris_data_sample.csv"))

In [5]:
# creating a deep copy of the dataset
df1 = sample_data.copy(deep=True)

In [6]:
df1.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [7]:
data5 = pd.read_csv("Datasets/Toyota.csv")

In [8]:
print(data5)

      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90       1.0          0  2000
1              1  13750  23.0  72937   Diesel   90       1.0          0  2000
2              2  13950  24.0  41711   Diesel   90       NaN          0  2000
3              3  14950  26.0  48000   Diesel   90       0.0          0  2000
4              4  13750  30.0  38500   Diesel   90       0.0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0     ??   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0     ??      NaN   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
2         3    1165
3         3    1165
4         3    1170
...     ...     ...
1431      3    1025
1432      3    1015
1433      3    1015
1434      3    1015
1435      5    1114

[1436 rows x 11 columns]

In [9]:
df2 = data5.copy()
df2

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [10]:
# delimiter is used when the document is in a text file and quoted.
# pd.read_table is used for text.txt
data2 = pd.read_table("Datasets/Iris_data_sample.txt", delimiter=" ")

In [11]:
df2 = data2.copy()
df2

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
data3 = pd.read_csv("Datasets/Iris_data_sample.txt", delimiter=" ")

In [13]:
df3 = data3.copy()
df3

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

# Understanding dataset

In [14]:
# diplaying the first 5 rows
data3.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa

In [15]:
#displaying the last 5 rows
data3.tail()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
# displaying n number of rows
data3.head(10)

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
6,6,5.4,3.9,1.7,0.4,Iris-setosa
7,7,4.6,3.4,1.4,0.3,Iris-setosa
8,8,5.0,3.4,1.5,0.2,Iris-setosa
9,9,4.4,2.9,1.4,0.2,Iris-setosa
10,10,4.9,3.1,1.5,0.1,Iris-setosa

In [17]:
data3.tail(7)

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
144,144,6.8,3.2,5.9,2.3,Iris-virginica
145,145,6.7,3.3,5.7,2.5,Iris-virginica
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [18]:
df1.columns

Index(['Unnamed: 0', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'],
      dtype='object')

In [19]:
# getting access to each of the column names
for each_item in df1.columns:
    print(each_item.lower())

unnamed: 0
sepallengthcm
sepalwidthcm
petallengthcm
petalwidthcm
species

In [20]:
df1['SepalLengthCm']

0      5.1
1      4.9
2      4.7
3       ??
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [21]:
# access a single value for a row or column by their label and index
df1.at[0, 'SepalLengthCm'] # .at returns a single row

'5.1'

In [22]:
df1.iat[0, 1] # .iat is used with the column integer

'5.1'

In [23]:
# access multiple values for a row and columns by their label

df1.loc[ 0 : 10,'SepalLengthCm']

0     5.1
1     4.9
2     4.7
3      ??
4       5
5     5.4
6     4.6
7       5
8     4.4
9     4.9
10    5.4
Name: SepalLengthCm, dtype: object

In [24]:
df1.iloc[ 0 : 10, 1]

0    5.1
1    4.9
2    4.7
3     ??
4      5
5    5.4
6    4.6
7      5
8    4.4
9    4.9
Name: SepalLengthCm, dtype: object

In [25]:
df1.loc[0:10]

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
5,6,5.4,3.9,NaN,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5,3.4,1.5,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
9,10,4.9,3.1,1.5,0.1,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa

In [26]:
for each_item in df1.values[0:5]:
    print(each_item)

[1 '5.1' 3.5 '1.4' 0.2 'Iris-setosa']
[2 '4.9' nan '1.4' 0.2 nan]
[3 '4.7' 3.2 '1.3' 0.2 'Iris-setosa']
[4 '??' 3.1 '1.5' 0.2 'Iris-setosa']
[5 '5' 3.6 '###' 0.2 'Iris-setosa']

In [27]:
# returns the size of the dataset
df1.size

900

In [28]:
#return the shape of the dataset
df1.shape

(150, 6)

In [29]:
print('Total number of rows:', df1.shape[0], '\nTotal number of rows:', df1.shape[1])

Total number of rows: 150
Total number of rows: 6

In [30]:
print(f"Total number of rows: {df1.shape[0]}, total number of columns {df1.shape[1]}")

Total number of rows: 150, total number of columns 6

In [31]:
for each_item in df1.shape: # this is used when the tuple contains alot of values
    print(each_item)

150
6

In [32]:
# return the concise summary of the dataset
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     150 non-null    int64
 1   SepalLengthCm  150 non-null    object
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    object
 4   PetalWidthCm   150 non-null    float64
 5   Species        149 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB

In [33]:
# returns a representation of the columns and its types
df1.dtypes

Unnamed: 0         int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [34]:
# return the number of unique values in each column
df1.nunique()

Unnamed: 0       150
SepalLengthCm     36
SepalWidthCm      23
PetalLengthCm     44
PetalWidthCm      22
Species            3
dtype: int64

In [35]:
# returns the number of uniques values in a column
df1['Species'].unique()

array(['Iris-setosa', nan, 'Iris-versicolor', 'Iris-virginica'],
      dtype=object)

In [36]:
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', '??', '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [37]:
df1['SepalWidthCm'].unique()

array([3.5, nan, 3.2, 3.1, 3.6, 3.9, 3.4, 2.9, 3.7, 3. , 4. , 4.4, 3.8,
       3.3, 4.1, 4.2, 2.3, 2.8, 2.4, 2.7, 2. , 2.2, 2.5, 2.6])

In [38]:
df1['PetalLengthCm'].unique()

array(['1.4', '1.3', '1.5', '###', nan, '1.6', '1.1', '1.2', '1.7', '1',
       '1.9', '4.7', '4.5', '4.9', '4', '4.6', '3.3', '3.9', '3.5', '4.2',
       '3.6', '4.4', '4.1', '4.8', '4.3', '5', '3.8', '3.7', '5.1', '3',
       '6', '5.9', '5.6', '5.8', '6.6', '6.3', '6.1', '5.3', '5.5', '6.7',
       '6.9', '5.7', '6.4', '5.4', '5.2'], dtype=object)

In [39]:
df1['PetalWidthCm'].unique()

array([0.2, 0.4, 0.3, 0.1, 0.5, 0.6, 1.4, 1.5, 1.3, 1.6, 1. , 1.1, 1.8,
       1.2, 1.7, 2.5, 1.9, 2.1, 2.2, 2. , 2.4, 2.3])

In [40]:
# returns the number of missing values in each column
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

In [41]:
# Assignment
# use the toyota dataset to replicate everything since monday

# Data Preprocessing 
- Replacing special characters
- Coverting the column type
- inputing the missing values
- Drop a column and decimal conversion to two decimal places
- change all column names to lowercase

In [42]:
# replaces ?? with missing values but does not reflect on the data
df1['SepalLengthCm'].replace('??', np.nan)

0      5.1
1      4.9
2      4.7
3      NaN
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [43]:
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', '??', '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [44]:
# method1: replace ?? with missing values, it reflects when you set inplace to True
df1['SepalLengthCm'].replace('??', np.nan, inplace=True)

In [45]:
# recheck for the specail character
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', nan, '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [46]:
# method2: replace ?? with missing values. assigning the old varaible to it reflect on the dataset without the inplace
df1['SepalLengthCm'] = df1['SepalLengthCm'].replace('??', np.nan)

In [47]:
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', nan, '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [48]:
# convert the column type to a float
df1['SepalLengthCm'].astype('float64')

0      5.1
1      4.9
2      4.7
3      NaN
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [49]:
df1.dtypes

Unnamed: 0         int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [50]:
#rechecking the datatype of the column
df1['SepalLengthCm'] = df1['SepalLengthCm'].astype('float64')

In [51]:
df1.dtypes

Unnamed: 0         int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [52]:
df1['PetalLengthCm'] = df1['PetalLengthCm'].replace('###',np.nan)

In [53]:
df1['PetalLengthCm'].unique()

array(['1.4', '1.3', '1.5', nan, '1.6', '1.1', '1.2', '1.7', '1', '1.9',
       '4.7', '4.5', '4.9', '4', '4.6', '3.3', '3.9', '3.5', '4.2', '3.6',
       '4.4', '4.1', '4.8', '4.3', '5', '3.8', '3.7', '5.1', '3', '6',
       '5.9', '5.6', '5.8', '6.6', '6.3', '6.1', '5.3', '5.5', '6.7',
       '6.9', '5.7', '6.4', '5.4', '5.2'], dtype=object)

In [54]:
df1['PetalLengthCm'] = df1['PetalLengthCm'].astype('float64')

In [55]:
df1.dtypes

Unnamed: 0         int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [56]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [57]:
df1.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,NaN,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,NaN,0.2,Iris-setosa

In [58]:
# replacing the missing values of sepallengthcm with either the mean or median
# finding the mean
mean_of_sp = df1['SepalLengthCm'].mean()

In [59]:
print(mean_of_sp)

5.851677852348993

In [60]:
# fillna is used to replace the missing values
df1['SepalLengthCm'].fillna(mean_of_sp)

0      5.100000
1      4.900000
2      4.700000
3      5.851678
4      5.000000
         ...
145    6.700000
146    6.300000
147    6.500000
148    6.200000
149    5.900000
Name: SepalLengthCm, Length: 150, dtype: float64

In [61]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [62]:
df1['SepalLengthCm'] = df1['SepalLengthCm'].fillna(mean_of_sp)

In [63]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [64]:
# replacing the missing values in sepalwidth with the mean
mean_sw = df1['SepalWidthCm'].mean()

In [65]:
print(mean_sw)

3.0543624161073826

In [66]:
df1['SepalWidthCm'] = df1['SepalWidthCm'].fillna(mean_sw)

In [67]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [68]:
#replacing the missing values in petallength with median
median_pl = df1['PetalLengthCm'].median()

In [69]:
print(median_pl)

4.4

In [70]:
df1['PetalLengthCm'] = df1['PetalLengthCm'].fillna(median_pl)

In [71]:
df1['PetalLengthCm'] = df1['PetalLengthCm'].fillna(df1['PetalLengthCm'].median())

In [72]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          1
dtype: int64

In [73]:
# replacing missing values for the species column
# checking for the highest value
df1['Species'].value_counts()

Species
Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: count, dtype: int64

In [74]:
# selecting the value with the highest count
highest_count = df1['Species'].value_counts().index[1]

In [75]:
# replacing with the highest value
df1['Species'] =  df1['Species'].fillna(highest_count)

In [76]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [78]:
# changinf column type to category
df1['Species'] = df1['Species'].astype('category')

In [79]:
df1.dtypes

Unnamed: 0          int64
SepalLengthCm     float64
SepalWidthCm      float64
PetalLengthCm     float64
PetalWidthCm      float64
Species          category
dtype: object

In [81]:
# Dropping a column 
del df1['Unnamed: 0']

In [84]:
# df1.drop(['Unnamed: 0'], axis=1) another method for deleting a column

In [83]:
df1.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [93]:
# rounding the decimal number to 1 decimal
df1['SepalLengthCm'] = df1['SepalLengthCm'].round(1)

In [94]:
df1['SepalLengthCm']

0      5.1
1      4.9
2      4.7
3      5.9
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [97]:
# change the column names to lower cases
df1.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [101]:
for each_item in df1.columns:
    print(each_item.lower())

# df1[each_item] = df1[each_item].str.lower()  this is used in place of the print if you want the change to reflect on the dataframe columns

sepallengthcm
sepalwidthcm
petallengthcm
petalwidthcm
species

In [103]:
df1.columns = df1.columns.str.lower()

In [105]:
df1.columns

Index(['sepallengthcm', 'sepalwidthcm', 'petallengthcm', 'petalwidthcm',
       'species'],
      dtype='object')

In [106]:
df1.head()

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm         species
0            5.1      3.500000            1.4           0.2     Iris-setosa
1            4.9      3.054362            1.4           0.2  Iris-virginica
2            4.7      3.200000            1.3           0.2     Iris-setosa
3            5.9      3.100000            1.5           0.2     Iris-setosa
4            5.0      3.600000            4.4           0.2     Iris-setosa

In [107]:
# saving the dataframe as a csv data
df1.to_csv('clean_irish_dataset.csv')

In [ ]:
#